.logo-wrap {
    width: 240px;
    padding-top: 20px;
    padding-left: 20px;
    border-right: 1px solid #D7DBE7;
}

.logout-box {
    margin-top: 430px;
}
.dashboard-box {
    display: flex;
    gap: 25px;
    align-items: center;
    background-color: #38A687;
    width: 196px;
    height: 49px;
    padding: 10px;
    margin-top: 70px;
    border-radius: 10px;
}
